$index_patch: $index_patch + 1;
/*!==================================================
#{$index_major}.#{$index_minor}.#{$index_patch} Usertext
================================================== */

.side .md p > a[href$="#banner"] ~ a {
    position: absolute;
    top: 150px;
    height: 300px;
    width: 300px;
    display: none; 
}

/* random sidebar image/link whenever the sidebar cached id changes */
.side form[id$="a"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="b"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="c"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="d"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="e"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="f"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="g"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="h"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="i"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="j"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="k"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="l"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="m"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="n"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="o"] .md p > a[href$="#banner"] ~ a[href$="#top"],
.side form[id$="p"] .md p > a[href$="#banner"] ~ a[href$="#top"] {
    display: block;
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

.side form[id$="q"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="r"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="s"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="t"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="u"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="v"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="w"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="x"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="y"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="z"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="0"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="1"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="2"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="3"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="4"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="5"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="6"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="7"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="8"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"],
.side form[id$="9"] .md p > a[href$="#banner"] ~ a[href$="/2d6zwa"] {
    display: block;
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}
