$index_patch: $index_patch + 1;
/*!==================================================
#{$index_major}.#{$index_minor}.#{$index_patch} Headers
================================================== */

/*** Sidebar Headers ***/
.titlebox {
    margin-top:0;
    margin-bottom:35px;
    padding: 10px 10px 0px 10px;
    /*background-color: transparent;*/
    border: 1px solid #d3d3d3;
    /*color: #000;*/
    /*border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px*/
}
.titlebox .bottom {
    position: absolute;
    padding-top: 5px;
    border: 0
}
.titlebox .age {
    margin-left: 55px;
}
.titlebox form.toggle {
    background-color: transparent
}
.titlebox .usertext {
    margin: 15px 0px 8px 0px;
    line-height: 120%;
    font-size: small
}
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible
}
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: #000;
}
.titlebox .usertext .md > h1 {
    background-color: #000;
    background-repeat: repeat-x;
    background-position: top;
    color: white;
    width: 314px;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: 13px;
    margin-left: -18px;
    border-bottom: 1px solid #074075;
    margin-bottom: 5px;
    margin-top: 5px;
    z-index: 100;
}
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: black
}
.titlebox .usertext .md > h1 {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #C9C9C9 !important;
    color: #FFF;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: 13px;
    margin-left: -10px;
    border-bottom: 1px solid black;
    
    margin-bottom: 5px;
    margin-top: 5px;
    z-index: 100
}
.titlebox .usertext .md > h1:after {
    display: block !important;
    content: "" !important;
    /* Diagonal Piece on Right Side */
    border-color: transparent transparent transparent black !important;
    border-style: solid !important;
    border-width: 15px !important;
    height: 0px !important;
    width: 0px !important;
    position: absolute !important;
    z-index: -1 !important;
    margin-left: 299px !important;
    margin-top: -10px !important;
}
