$index_minor: $index_minor + 1;
$index_patch: 0;
/*!==================================================
#{$index_major}.#{$index_minor}.#{$index_patch} Usertext
================================================== */

.titlebox {
    margin:0 0px 35px 0;
    padding: 10px 10px 0px 10px;
    border: 1px solid #d3d3d3;
    border-right-style:none;
    border-left-style:none;
}

.titlebox .bottom {
    position: absolute;
    padding-top: 5px;
    border: 0
}

/** Removes age of the subreddit **/
.titlebox .age {
    display:none;
}

/***Game link Link***/
.side .md p > a[href*="http://tagpro.gg"]{
    display:inline-block; 
    height: 200px;
    width: 100%; 
    padding:0 0 0 0; 
    margin:0 0 0 0px; 
    background:url(%%tpplay%%) no-repeat;
    text-decoration:none;
}

@import 'menubar';
@import 'headers';
@import 'tables';
@import 'social';
@import 'sticky';
@import 'banner';
