$index_patch: $index_patch + 1;
/*!==================================================
#{$index_major}.#{$index_minor}.#{$index_patch} Social Links
================================================== */

/***Facebook Link***/
.side .md a[href*="https://www.fb.com/tagprogame"]{
    display:inline-block; 
    height: 13px;
    width: 64px; 
    margin:0;
    background:transparent url(%%miscSprite%%) 0 -64px no-repeat;
    text-decoration:none;
}

/***Twitter Link***/
.side .md a[href*="https://twitter.com/TheKoalaBeast"]{
    display:inline-block; 
    height: 13px;
    width: 65px; 
    margin:0; 
    background:transparent url(%%miscSprite%%) 0 -1247px no-repeat;
    text-decoration:none;
}

/***MLTP Link***/
.side .md a[href*="http://www.reddit.com/r/tagpro/wiki/mltp"]{
    display:inline-block;
    height: 168px;
    width: 100%; 
    padding:0 0 0 0; 
    margin:0; 
    background:transparent url(%%miscSprite%%) 0 -607px no-repeat;
    text-decoration:none;
}

/***Flairboard Link***/
.side .md a[href*="http://tinyurl.com/nho6fr2"]{
    display:inline-block; 
    height: 209px;
    width: 100%; 
    padding:0 0 0 0; 
    margin:0 0 0 10px; 
    background:transparent url(%%miscSprite%%) 0 -127px no-repeat;
    text-decoration:none;
}


