$major: 0;
$minor: 0;
$patch: 0;

@function increment_major() {
  $major: $major + 1 !global;
  $minor: 0 !global;
  $patch: 0 !global;
  @return $major;
}

@function increment_minor() {
  $minor: $minor + 1 !global;
  $patch: 0 !global;
  @return $minor;
}

@function increment_patch() {
  $patch: $patch + 1 !global;
  @return $patch;
}

@mixin major($text) {
/*!==================================================
#{increment_major()}.#{$minor} #{$text}
================================================== */
}

@mixin minor($text) {
/*!==================================================
#{$major}.#{increment_minor()} #{$text}
================================================== */
}

@mixin patch($text) {
/*!==================================================
#{$major}.#{$minor}.#{increment_patch()} #{$text}
================================================== */
}


@import 'base/main';
@import 'header/main';
/*
@import 'sidebar/main';
@import 'content/main';
@import 'footer/main';
@import 'flair/main';
@import 'res/main';
*/
