/*!==================================================
   0. Subreddit Settings
================================================== */

/* To configure a sidebar banner image please
   follow these steps:

      1. Upload your image to the subreddit with
         a good name. Uploading images is done
         through /r/tagpro/about/stylesheet

      2. Edit the sidebar link. The last six links
         in the subreddit sidebar are used for the
         banner. You may edit these to link to a
         specific post or url, or you can choose
         not to link anywhere at all.

         If you want to link to a reddit post use a
         shorthand url. If you do not want to link
         anywhere please use the internal target
         method.

         A shorthand reddit link looks like this:
         [](/2dwu30)

         An internal target looks like this:
         [](#default)

      3. The order your link is in the sidebar matters!

         To set the image for the sidebar banner find
         appropriate order below and change the url
         to match the name of your uploaded image.


/* First Banner Image */
.side form .md > p:last-child a:nth-of-type(1) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

/* Second Banner Image */
.side form .md > p:last-child a:nth-of-type(2) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

/* Third Banner Image */
.side form .md > p:last-child a:nth-of-type(3) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

/* Fourth Banner Image */
.side form .md > p:last-child a:nth-of-type(4) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

/* Fifth Banner Image */
.side form .md > p:last-child a:nth-of-type(5) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}

/* Sixth Banner Image */
.side form .md > p:last-child a:nth-of-type(6) {
    background: url(%%tagpro-pigoon%%) no-repeat top center;
}
