/*!==================================================
   Main
================================================== */

$misc-spacing: 5px;
$misc-layout: vertical;
$misc: sprite-map("misc/*.png", $layout: vertical, $spacing: 5px);
@debug "CREATE MISC SPRITES: #{$misc}";


@import 'base/_main';
@import 'header/_main';
@import 'sidebar/_main';
@import 'content/_main';
@import 'footer/_main';
@import 'wiki/_main';
@import 'sprites/_main';
@import 'res/_main';
