/*!==================================================
   Subreddit Navigation
================================================== */

#header-bottom-left .tabmenu {
    margin-left: 280px;
    margin-bottom: 6px;
}

.tabmenu li a {
    color: #FFF;
    border-bottom: none;
    text-shadow: 0px 0px 1px black,
                 0px 0px 2px black,
                 0px 0px 3px black;
    background-color: transparent;
}

.tabmenu li a:hover {
    border-bottom: 2px solid black;
}

.tabmenu li.selected a {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}
