/*!==================================================
   2.4 User Controls
================================================== */

#header-bottom-right {
    background-color: transparent;
    right: 40px;
    top: 102px;
}

.res #header-bottom-right {
    top: 103px;
}

#header-bottom-right a {
    color: #222;
}

#userbarToggle {
    background: none!important;
    color: #333!important;
    border: none!important;
}

#mail {
    position: relative;
    top: -2px;
    right: -1px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    top: -2px
}

#mail.havemail {
    background: url(%%misc%%);
    background-position: sprite-position($misc, has-mail);
}

#mail.nohavemail {
    background: url(%%misc%%);
    background-position: sprite-position($misc, mail);
    margin: -4px 0 -4px 0;
}

