/*!==================================================
   Wiki
================================================== */

/* Fixes the width issue in the Wiki */
.wiki-page .wiki-page-content {
  margin-right: 5%;
  margin-bottom: 8px;
}

#wikiactions > .title > h1 { display: block; }
#wikiactions > .content { margin-top: 0; }
#wikiactions > .title { height: auto; }

