{% for image in images %}
.md a[href$="#map-{{image.filename|replace(".png","")|replace(".jpg", "")}}"] {
  background: url(%%maps-3%%) {{ image.x ~ ('px' if image.x) }} {{ image.y ~ ('px' if image.y) }};
}
{% endfor %}
