$index_major: $index_major + 1;
$index_minor: 0;
/*!==================================================
#{$index_major}.#{$index_minor} Header
================================================== */

#header {
  background: none;
  border: none;
}

@import 'subreddit-bar';
@import 'subreddit-logo';
@import 'subreddit-navigation';
@import 'usercontrols';
