/*==================================================
4.5 Subreddit Navigation
================================================== */

.titlebox .md > blockquote:first-child {
    position: absolute;
    top: 99px;
    left: 27px;
    right: 27px;
    width: auto;
    min-width: 896px;
    border: none;
    padding: 0;
    margin: 0;
    height: 32px;
    font-size: 14px;
    z-index: 10;
}

.titlebox .md > blockquote:first-child > blockquote {
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    background-color: #C9C9C9;
    background-image: -webkit-linear-gradient(#eee, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
    background-image: -moz-linear-gradient(#eee, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
    background-image: -o-linear-gradient(#eee, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
    background-image: linear-gradient(#eee, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
    width: 100%;
    height: 100%;
}

/* Left side bar shadow */

.titlebox .md > blockquote:first-child > blockquote:before {
    display: block;
    content: "";
    border-color: transparent black transparent transparent;
    border-style: solid;
    border-width: 13px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -1;
    margin-left: -13px;
    margin-top: -2px;
    top: 22px;
    left: 0px;
}

/* Right side bar shadow */

.titlebox .md > blockquote:first-child > blockquote:after {
    display: block;
    content: "";
    border-color: transparent transparent transparent black;
    border-style: solid;
    border-width: 13px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -1;
    margin-right: -13px;
    margin-top: -2px;
    top: 24px;
    right: 0px;
}

.titlebox blockquote:first-child ul {
    float: left;
    margin: 0;
}


.titlebox blockquote:first-child ul li {
    display: none;
    background-color: #fff;
    cursor: default;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.titlebox blockquote:first-child ul li:nth-of-type(2) {
    border-top: 1px solid black;
}
.titlebox blockquote:first-child ul li:hover {
    background-color: #eaeaea;
}
.titlebox blockquote:first-child li a {
    display:block;
    padding: 4px 10px;
    text-decoration: none
}
.titlebox blockquote:first-child li:first-child,
.titlebox blockquote:first-child ul:hover li {
    display: block;
    padding: 0 0px;
    box-sizing: border-box;
}


/** Menu titles  **/

.titlebox blockquote:first-child ul li:first-child {
    line-height: 32px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-align: center;
}
.titlebox blockquote:first-child ul:hover li:first-child {
    color: #000;
    background-color: #999;
    background-image: -webkit-linear-gradient(top, #999, #C9C9C9);
    background-image:    -moz-linear-gradient(top, #999, #C9C9C9);
    background-image:     -ms-linear-gradient(top, #999, #C9C9C9);
    background-image:      -o-linear-gradient(top, #999, #C9C9C9);
    background-image:         linear-gradient(to bottom, #999, #C9C9C9);
}


/* Expand the menu */

.titlebox blockquote:first-child ul:nth-of-type(1) li {
    width: 180px;
}
.titlebox blockquote:first-child ul:nth-of-type(2) li {
    width: 165px;
}
.titlebox blockquote:first-child ul:nth-of-type(3) li {
    width: 215px;
}
.titlebox blockquote:first-child ul:nth-of-type(4) li {
    width: 250px;
}


/* Do not expand the menu title */

.titlebox blockquote:first-child ul:nth-of-type(1),
.titlebox blockquote:first-child ul:nth-of-type(1) li:first-child {
    width: 109px;
}
.titlebox blockquote:first-child ul:nth-of-type(2),
.titlebox blockquote:first-child ul:nth-of-type(2) li:first-child {
    width: 155px;
}
.titlebox blockquote:first-child ul:nth-of-type(3),
.titlebox blockquote:first-child ul:nth-of-type(3) li:first-child {
    width: 133px;
}
.titlebox blockquote:first-child ul:nth-of-type(4),
.titlebox blockquote:first-child ul:nth-of-type(4) li:first-child {
    width: 97px;
}
