$index_minor: $index_minor + 1;
/*!==================================================
#{$index_major}.#{$index_minor} Subreddit Bar
================================================== */

#sr-header-area {
    height: 19px;
    background: #d4d4d4;
}

.width-clip a:link, .width-clip a {
    color: #000;
}

#sr-more-link {
    background-color: #d4d4d4;
}

.drop-choices {
    top: 19px !important;
    background-color: #dfdfdf;
}

#sr-header-area .drop-choices a.choice:hover {
    color: #000;
    background-color: #eee;
}
