/*==================================================
4.2 Subreddit Logo
================================================== */
#header-bottom-left {
    height: 80px;
    margin-left: 40px;
}

#header-img {
    margin-left: 1px;
}

.pagename { /* todo */
    position: absolute;
    top: 0px;
}

.pagename a {
    display: block;
    height: 40px;
    width: 252px;
    background: url(%%miscSprite%%) 0 -1099px no-repeat;
    text-indent: -9999px;
    font-size: 0px;
    position: absolute;
    top: 56px;
    left: 2px;
}
