/*!==================================================
   Sidebar Usertext
================================================== */

.titlebox {
    margin:0 0px 35px 0;
    padding: 10px 10px 0px 10px;
    border: 1px solid #d3d3d3;
    border-right-style:none;
    border-left-style:none;
}

.titlebox .bottom {
    position: absolute;
    padding-top: 5px;
    border: 0
}

/** Removes age of the subreddit **/
.titlebox .age {
    margin-left: 55px;
    display:none;
}

.titlebox form.toggle {
    background-color: transparent
}

.titlebox .usertext {
    margin: 15px 0px 8px 0px;
    line-height: 120%;
    font-size: small
}
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible
}
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: #000;
}

/* Game link Link */
.side .md p > a[href*="http://tagpro.gg"]{
    display:inline-block; 
    height: 200px;
    width: 100%; 
    padding:0 0 0 0; 
    margin:0 0 0 0px; 
    background:url(%%tpplay%%) no-repeat;
    text-decoration:none;
}

/* Facebook Link */
.side .md a[href="https://www.fb.com/tagprogame"]{
    display: inline-block;
    margin: 0;
    text-decoration: none;
    background: transparent url(%%misc%%) no-repeat;
    background-position: sprite-position($misc, facebook);
    width: 64px;
    height: 13px;
}


/* Twitter Link */
.side .md a[href="https://twitter.com/TheKoalaBeast"]{
    display: inline-block;
    margin: 0;
    text-decoration: none;
    background: transparent url(%%misc%%) no-repeat;
    background-position: sprite-position($misc, twitter);
    width: 65px;
    height: 13px;
}

/* Flairboard Link */
.side .md a[href*="http://tinyurl.com/nho6fr2"]{
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    background: transparent url(%%misc%%) 0 -27px no-repeat;
    background-position: sprite-position($misc, flairboard);
    width: 278px;
    height: 208px;
}


@import '_menubar';
@import '_headers';
@import '_tables';
@import '_announcement';
@import '_banner';
