/*!==================================================
   3.5.3 Sidebar Usertext Tables
================================================== */

body .side .md table th {
    border: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
    padding: .3em;
    text-align: left;
}

body > .side .md table td {
    font-family: sans-serif;
    font-size: 11px;
    border-top: none;
    border-left: 1px solid #EEE;
    border-bottom: none;
    vertical-align: middle;
}

/** Gray background on hover for all tables **/
body > .side .md table tr:hover {
    background-color: #D4D4D4;
}

body .side .md table:nth-of-type(1) th {
    background-color: yellow;
    border-right: 1px solid yellow;
    color: black;
}

body .side .md table:nth-of-type(2) th {
    background-color: red;
    border-right: 1px solid red;
}

body .side .md table:nth-of-type(3) th {
    background-color: blue;
    border-right: 1px solid blue;
}

body .side .md table:nth-of-type(4) th {
    background-color: green;
    border-right: 1px solid green;
}
