/*!==================================================
   Footer
================================================== */

$flair-map: sprite-map("flair/*.png", $layout: vertical);

/* Koalabeast Logo */
.footer-parent {
    padding-top: 40px;
    position: relative;
    margin: 0 39px 0 40px;
    background-color: #fff;
}

.footer-parent:after {
    content: "";
    background: url(%%misc%%) 0 -255px no-repeat #fff;
    background-position: sprite-position($misc, koalabeast);
    width: image-width(sprite-file($misc, koalabeast)) + 2px;
    height: image-height(sprite-file($misc, koalabeast));
    display: block;
    margin: 40px auto 0;
}

.footer-parent .rounded {
    border:1px #e3e3e3 solid;
    border-radius:0px;
    background: white;
}

.debuginfo {
    background-color: #fff;
    margin: 0 39px 0 40px;
}
