/*!==================================================
   8.0 RES Specific Tweaks
================================================== */

.res #mail {
    width: 20px!important;
}

/** Fixes bg color on up, down, and <+> in RES header **/
.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsAdd,
.res #RESShortcutsTrash {
    background-color: #D4D4D4;
}


-nightmode .sidebox.submit.submit-text {
    background: none !important;
    margin-top: -45px;
    margin-left: 153px;
}
.res-nightmode .sidebox {
    padding-left: 0px !important;
    border: 2px solid #151515 !important;
}
.res-nightmode .morelink {
     height: 29px !important;
}
.res-nightmode .morelink {
    background:rgb(39, 63, 87) !important;
}
.res-nightmode .morelink:hover {
    background: #449ef8 !important;
    background-color: #9edbf8 !important;
    border-color: #9edbf8 !important;
}

.res-commentBoxes .comment {
    overflow: visible !important;
}

.res-commentBoxes body > .content {
    padding-right: 320px !important;
}

/*** Fixes color on send message and give gold buttons when hovering over a name on RES ***/
#authorInfoToolTip .blueButton {
  float: right;
  margin-left: 8px;
  margin-top: 12px;
  color: white;
}
