$index_minor: $index_minor + 1;
/*!==================================================
#{$index_major}.#{$index_minor} Upvote/Downvote Arrows + Animation
================================================== */

/*** Changes Vote Arrows ***/  
.arrow.up {
    background-image: url(%%miscSprite%%); 
    background-position: 0 -825px;
    height: 14px;
    width: 14px; 
}

/** This is the upvoted icon **/
.arrow.upmod {
    background-image: url(%%miscSprite%%);
    background-position: 0 -1310px;
    height: 14px;
    width: 14px;  
}
.arrow.down {
    background-image: url(%%miscSprite%%); 
    background-position: 0 -825px; 
    height: 14px;
    width: 14px; 
}

/** This is the downvoted icon **/
.arrow.downmod {
    background-image: url(%%miscSprite%%); 
    background-position: 0 0;
    height: 14px;
    width: 14px; 
}

/* Animation */
/* Thanks to /r/sanjosesharks */

.arrow.upmod::after {
    content: "Tagged!";
    font-size: 12px;
    margin-left: 25px;
    position: relative;
    color: #FF0000;
    bottom: 18px;
    opacity: 0.0;
    -webkit-animation-name: tagged;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
    animation-name: tagged;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-play-state: running;
}

@-webkit-keyframes tagged {
    0% {color: #FF0000}
    8% {bottom: 23px; opacity: 1.0}
    15% {bottom: 28px;}
    50% {color: #BB0000; bottom: 33px;}
    60% {color: #BB0000}
    100% {bottom: 38px; opacity: 0.0}
}

@keyframes tagged {
    0% {color: #BB0000}
    8% {bottom: 23px; opacity: 1.0}
    15% {bottom: 28px;}
    50% {color: #FF0000; bottom: 33px;}
    60% {color: #FF0000}
    100% {bottom: 38px; opacity: 0.0}
}

.arrow.downmod::after {
    content: "Popped!";
    font-size: 12px;
    margin-left: 25px;
    position: relative;
    color: #0000FF;
    bottom: -18px;
    opacity: 0.0;
    -webkit-animation-name: popped;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
    animation-name: popped;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-play-state: running;
}

@-webkit-keyframes popped {
    0% {color: #0000FF}
    8% {bottom: -23px; opacity: 1.0}
    15% {bottom: -28px;}
    50% {color: #0000BB; bottom: -33px;}
    100% {bottom: -38px; opacity: 0.0}
}

@keyframes popped {
    0% {color: #0000FF}
    8% {bottom: -23px; opacity: 1.0}
    15% {bottom: -28px;}
    50% {color: #0000BB; bottom: -33px;}
    100% {bottom: -38px; opacity: 0.0}
}

/* End downvote animation */

.midcol { overflow: initial; }
