$index_major: $index_major + 1;
$index_minor: 0;
/*!==================================================
#{$index_major}.#{$index_minor} Footer
================================================== */

/*** Footer Logo ***/
.footer-parent {
    height: 405px;
    background: url(%%koalaBeast%%) bottom center no-repeat #fff;
    margin-bottom: -26px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-parent .rounded {
    border:1px #e3e3e3 solid;
    border-radius:0px;
    background: white;
}
