$index_major: $index_major + 1;
$index_minor: 0;
/*!==================================================
#{$index_major}.#{$index_minor} Base Element Styling
================================================== */

body {
    background: url(%%bgtile%%) 0 20px fixed #fbfbfb;
    color:#222;
    min-width: 950px;
}
