/*!==================================================
   Linkflair
================================================== */

.linkflair .linkflairlabel {
    position: absolute;
    left: 0;
    top: 0;
    background: url(%%linkSprite%%) no-repeat;
    display: block;
    height: 76px;
    border: none;
    width: 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.linkflair .linkflairlabel:hover {
    opacity: .9;
    color: #fff;
    font-weight: normal;
    line-height: 70px;
    text-indent: 60px;
    font-size: 18px;
    letter-spacing: 1px;
    width:  230px;
    height: 79px;
    max-width: 270px;
    padding: 0;
    -webkit-border-top-right-radius: 50px;
       -moz-border-top-right-radius: 50px;
            border-top-right-radius: 50px;
}

.linkflair-bug .linkflairlabel {
    border-left: #B42932 solid 5px;
    background-position: 0 -90px;
    background-color: #B42932;
}

.linkflair-suggestion .linkflairlabel {
    border-left: #37AE65 solid 5px;
    background-position: 0 -567px;
    background-color: #37AE65;
}

.linkflair-trashtalkthread .linkflairlabel {
    border-left: black solid 5px;
    background-position: 0 -667px;
    background-color: black;
}

.linkflair-announcement .linkflairlabel {
    border-left: #995AB3 solid 5px;
    background-position: 0 10px;
    background-color: #995AB3;
}

.linkflair-gamethread .linkflairlabel {
    border-left: #E27D33 solid 5px;
    background-position: 0 -290px;
    background-color: #E27D33;
}

.linkflair-build .linkflairlabel {
    border-left: #EEC338 solid 5px;
    background-position: 0 -190px;
    background-color: #EEC338;
}

.linkflair-mltp .linkflairlabel {
    border-left: #4299D7 solid 5px;
    background-position: 0 -380px;
    background-color: #4299D7;
}

.linkflair-shared .linkflairlabel,
.linkflair-tw .linkflairlabel {
    border-left: #36495D solid 5px;
    background-position: 0 -467px;
    background-color: #36495D;
}
