/*!==================================================
   7.0 Sprites
================================================== */

/* Some Ball Flair when No Flair is Present */
.userattrs:before {
    content: "Some Ball (Change Your Name in the Sidebar!)";
    color: #000000;
    font-weight: bold;
    background: #FFFF00;
}
.flair + .userattrs:before {
    content: "";
}
.side .titlebox .userattrs:before {
    content: "";
}

@import '_linkflair';
@import '_userflair';
@import '_tiles';
@import '_maps';
