/*!==================================================
   7.3 Maps
================================================== */


.md a[href*="#map-"] {
  border: none;
  display: inline-block;
}

/* First Set of Maps */
$maps-1-layout: smart;
$maps-1-spacing: 3px;
$maps-1: sprite-map("maps-1/*.png", $layout: smart, $spacing: 3px);
@debug "CREATE MAP SPRITES: #{$maps-1}";
@debug "CREATE MAP SPRITES: #{$maps-1}";

@each $map in sprite_names($maps-1) {
  // empty.png is used to force 'smarter' packing
  @if $map != "empty" {
    .md a[href$="#map-#{$map}"] {
      background: url('%%maps-1%%') sprite-position($maps-1, $map) no-repeat;
      width: image-width(sprite-file($maps-1, $map));
      height: image-height(sprite-file($maps-1, $map));
      line-height: image-height(sprite-file($maps-1, $map));
    }
  }
}

/* Second Set of Maps */
$maps-2-layout: smart;
$maps-2-spacing: 3px;
$maps-2: sprite-map("maps-2/*.png", $layout: smart, $spacing: 3px);
@debug "CREATE MAP SPRITES: #{$maps-2}";

@each $map in sprite_names($maps-2) {
  // empty.png is used to force 'smarter' packing
  @if $map != "empty" {
    .md a[href$="#map-#{$map}"] {
      background: url('%%maps-2%%') sprite-position($maps-2, $map) no-repeat;
      width: image-width(sprite-file($maps-2, $map));
      height: image-height(sprite-file($maps-2, $map));
      line-height: image-height(sprite-file($maps-2, $map));
    }
  }
}

/* Other Maps */
$maps-other-layout: smart;
$maps-other-spacing: 3px;
$maps-other: sprite-map("maps-other/*.png", $layout: smart, $spacing: 3px);
@debug "CREATE MAP SPRITES: #{$maps-other}";

@each $map in sprite_names($maps-other) {
  // empty.png is used to force 'smarter' packing
  @if $map != "empty" {
    .md a[href$="#map-#{$map}"] {
      background: url('%%maps-other%%') sprite-position($maps-other, $map) no-repeat;
      width: image-width(sprite-file($maps-other, $map));
      height: image-height(sprite-file($maps-other, $map));
      line-height: image-height(sprite-file($maps-other, $map));
    }
  }
}
