/* tiles in image */

.md a[href^="#tile-"] {
  background: url('%%tiles%%') no-repeat;
  border: none !important;
  line-height: 16px;
  display: inline-block;
  cursor: default;
}


.md a[href^="#tile-spike"] {
  background-position: -480px -0px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redball"] {
  background-position: -560px -0px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-blueball"] {
  background-position: -600px -0px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-bomb"] {
  background-position: -480px -40px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-yellowflag"] {
  background-position: -520px -40px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redflag"] {
  background-position: -560px -40px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-blueflag"] {
  background-position: -600px -40px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-bomb-missing"] {
  background-position: -480px -80px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-yellowflag-missing"] {
  background-position: -520px -80px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redflag-missing"] {
  background-position: -560px -80px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-blueflag-missing"] {
  background-position: -600px -80px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-gate"] {
  background-position: -480px -120px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-greengate"] {
  background-position: -520px -120px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redgate"] {
  background-position: -560px -120px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-bluegate"] {
  background-position: -600px -120px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-jukejuice"] {
  background-position: -480px -160px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-tile"] {
  background-position: -520px -160px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redtile"] {
  background-position: -560px -160px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-bluetile"] {
  background-position: -600px -160px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-rollingbomb"] {
  background-position: -480px -200px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-redendzone"] {
  background-position: -560px -200px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-blueendzone"] {
  background-position: -600px -200px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-tagpro"] {
  background-position: -480px -240px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-button"] {
  background-position: -520px -240px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-topspeed"] {
  background-position: -480px -280px;
  width: 40px;
  height: 40px;
}

.md a[href^="#tile-marsball"] {
  background-position: -480px -360px;
  width: 80px;
  height: 80px;
}

