/*!==================================================
   3.7 Sidebar Moderator List/Recently Viewed/Moderation Tools
================================================== */

.sidecontentbox .content {
    border: none;
    padding:5px 20px 5px;
    margin-right: 0;
}

.sidecontentbox a.helplink {
  @include sidebar-btn($button_color, $button_shadow);
  float: none;
}

.sidecontentbox:last-of-type .content {
    border-bottom: 1px solid #C9C9C9;
}
