$index_minor: $index_minor + 1;
/*==================================================
#{$index_major}.#{$index_minor} Advertisement
================================================== */

#ad-frame {
    display: block;
    margin:-20px;
    margin-left:20px;
}
