$index_minor: $index_minor + 1;
/*==================================================
#{$index_major}.#{$index_minor} Moderator List
================================================== */

div.spacer:nth-of-type(9) div.sidecontentbox div.title {
    height:55px;
}
div.spacer:nth-of-type(9) div.sidecontentbox div.title:before {
    content:"";
    display:block;
    width:300px;
    font-size:12px;
    padding:20px 0 0 20px;
    color:#A6A8AB;
}
div.spacer:nth-of-type(9) div.sidecontentbox ul.content {
    padding:5px 20px 5px;
    border-top:1px solid #ccc !important;
    border-bottom:1px solid #ccc !important;
}
a.helplink {
    display: block;
    height: 44px;
    overflow: hidden;
    margin: 0 10px 10px 0;
}
a.helplink:before {
    display: block;
    content: "Message the Moderators";
    background:#FBFBFB !important;
    border:none !important;
    color:#555;
    font-weight:bold;
    font-size:142%;
    text-align: center;
    letter-spacing:0 !important;
    padding:12px 0 12px;
    width: 300px;
    margin-left: 20px;
    border:1px solid #c8c8c8!important;
}
a.helplink:hover {
    background:none !important;
}
a.helplink:hover:before {
    background:#d4d4d4 !important;
    color:black;
}
