$index_minor: $index_minor + 1;
/*==================================================
#{$index_major}.#{$index_minor} Recent Links
================================================== */

div.spacer:nth-of-type(10) div.sidecontentbox div.title:before {
    content:"Recently Viewed";
    display:block;
    width:300px;
    font-size:12px;
    padding:20px 0 0 20px;
    color:#A6A8AB;
}

div.spacer:nth-of-type(10) div.sidecontentbox ul.content {
    padding: 5px 20px 5px;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}
