$index_minor: $index_minor + 1;
/*==================================================
#{$index_major}.#{$index_minor} Submit Link, Self-Post, and Create Subreddit Buttons
================================================== */

.morelink {
    letter-spacing:0;
    background:#FBFBFB;
    border: 1px solid #c8c8c8;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #444444;
    font-family:Verdana, Arial, sans-serif; 
    font-weight: bold; 
    width: 298px;
    margin: 0 0 0 11px;
}

.morelink:hover {
    background: #d4d4d4;
    border-color: #c8c8c8;
}

.morelink .nub  {
    display: none;
}

.morelink a, .morelink a:hover {
    color: white;
}

.sidebox.submit-link .morelink::before {
    display: block;
    clear: none;
    content: "Submit a Link";
    font-size: 125%;
}
.sidebox.submit-text .morelink::before {
    display: block;
    clear: none;
    content: "Submit a Self Post";
    font-size: 125%;
}
.sidebox.submit-link:hover .morelink::before, .sidebox.submit-text:hover .morelink::before {
    color: #000;
}
.sidebox.submit .morelink a {
    position: absolute;
    top: 0;
    padding-left: 1000px;
    font-size: 0px;
    text-align: right;
    color: #56a6f7;
}
.sidebox.submit.submit-link {
    width: 150px;
    margin-left: -1px;
}
.sidebox.submit.submit-text {
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 11px;
}

.sidebox.create {
    display: none;
}

.sidebox.submit.disabled {
    display: none;
}
